name: Running clean and test only on feature or CI branches

on:
  push:
    branches:
      - '!main'
      - 'feature-**'
      - 'ci/**'
  pull_request:
    branches:
      - '!main'
      - 'feature-**'
      - 'ci/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Test with Maven
      run: mvn -B clean test --file pom.xml